<%- include("./partials/head.ejs") %>

<header>
    <h1>Edit this Music Festival</h1>
</header>

<main>
    <form method="post" action="/events/<%= event._id %>?_method=PUT" enctype="multipart/form-data">
        <div class="form-group">
        <label for="title">Name:</label>
        <input type="text" id="title" name="title" value="<%= event.title %>" class="form-control" aria-describedby="event-title" required />
        </div>

        <br />

        <div class="form-group">
            <label for="website">Website:</label>
            <input type="url" id="website" name="website" value="<%= event.website %>" class="form-control" />
        </div>

        <br />

        <div class="row">
            <div class="col">
                <label for="location">Where:</label>
                <input type="text" id="location" name="location" value="<%= event.location %>" class="form-control" required />
            </div>
            <div class="col">
                <label for="date">When:</label>
                <input type="text" id="date" name="date" value="<%= event.date %>" class="form-control" />
            </div>
        </div>

        <br />
        
        <div class="form-group">
            <label for="imageURL">Image Link:</label>
            <input type="file" id="imageURL" name="imageURL" class="form-control-file" value="<%= event.imageURL %>" aria-describedby="event-img" required />
        </div>
        
        <br />
        
        <div class="form-group">
            <label for="category">Category:</label>
            <select class="form-control" name="category" id="category">
                <% categories.forEach((category) => { %>
                    <option <%= category === event.category ? 'selected' : '' %>><%= category %></>
                    <% }) %>
            </select>
        </div>
        
        <br />
        
        <div class="row">
            <div class="col">
                <label for="rating">Rating:</label>
                <input type="number" id="rating" name="rating" min="0" max="5" value="<%= event.rating %>" class="form-control" />
            </div>
            <div class="col">
                <label for="price">Ticket Price:</label>
                <input type="number" id="price" name="price" min="0" step="0.01" <%= event.price %> class="form-control" />
            </div>
        </div>
        
        <br />

        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" name="description" id="description" row="3"><%= event.description %></textarea>
        </div>

        <br />

        <button type="submit" class="btn btn-outline-primary">Save the changes!</button>
    </form>
    
</main>

<%- include("./partials/foot.ejs") %>