<%- include("./partials/head.ejs") %>

<%- include('./partials/flash.ejs') %>

<header>
    <h1>Festivals Collection</h1>
    <!-- a link back to add new music festival-->
    <a href="/events/new">Add New Music Festival to the collection!</a>
</header>

<main>
    <!-- <% if (events.length === 0) { %>
        <p>Add music festivals to the collections <a href="/events/new">here</a>!</p>
    <%  } else { %> -->
    <% events.forEach((event) => { %>
        <ul>
            <li><a href="/events/<%= event._id %>"><%= event.title %></a></li>    
        </ul>
    <% }) %>
    <!-- <% } %> -->
    
</main>

<%- include("./partials/foot.ejs") %>
